@model StudentPortal.Data.Entites.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subscribed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subscribed)
        </dd>
    </dl>
</div>
<div class="mt-2">
    <a asp-action="Edit" class="btn btn-info mx-4" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary mx-4">Back to List</a>
</div>
